@import "../../static/scss/index.scss";

.content {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: $theme-color;
}

.entry-select-form {
	height: 40vh;
	width: 70%;
	display: flex;
	align-content: center;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 200rpx;
	border-radius: 20rpx;
	padding: 20rpx;
	background-color: #fff;
}

.entry-select-btn-group {
	height: 300rpx;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.entry-select-btn {
	display: flex;
	align-content: center;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100px;
	width: 100px;
	background-color: $theme-color;
	color: #fff;
	border-radius: 50px;
	&:active {
		background-color: $theme-color-active;
	}
}

.entry-select-btn:nth-child(2) {
	margin-left: 100rpx;
}
