.container {
	min-height: 100vh;
	background-color: #f8f9fa;
	padding: 20rpx 0 120rpx;
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 20rpx 40rpx calc(20rpx + var(--window-bottom));
	background-color: #fff;
	box-shadow: 0 -4rpx 16rpx rgba(0, 0, 0, 0.05);
    z-index: 100;

	.submit-btn {
		background: $theme-color;
		color: #fff;
		height: 90rpx;
		line-height: 90rpx;
		border-radius: 45rpx;
		font-size: 32rpx;
		font-weight: bold;

		&:active {
			opacity: 0.8;
		}
	}
}
