@import "../../../../static/scss/index";

.selector-page {
	background: $default-background-color;
	height: 100vh;
	padding-bottom: 120rpx;
	display: flex;
	flex-direction: column;
}

.search-filter-bar {
	position: sticky;
	top: 0;
	z-index: 100; // 确保在页面最上层
}

.teacher-item {
	background: #fff;
	padding: 30rpx 40rpx;
	display: flex;
	align-items: center;
	border-bottom: 1rpx solid #f8f9fa;
	.avatar {
		width: 70rpx;
		height: 70rpx;
		background: $theme-color-lighter;
		color: $theme-color;
		border-radius: 50%;
		text-align: center;
		line-height: 70rpx;
		font-weight: bold;
		margin-right: 20rpx;
	}
	.name {
		flex: 1;
		font-size: 28rpx;
	}
}
.confirm-bar {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 110rpx;
	background: #fff;
	display: flex;
	align-items: center;
	padding: 0 40rpx;
	justify-content: space-between;
	border-top: 1rpx solid #eee;
	.count {
		font-size: 28rpx;
		text {
			color: $theme-color;
		}
	}
	.btn {
		background: $theme-color;
		color: #fff;
		height: 76rpx;
		line-height: 76rpx;
		width: 200rpx;
		font-size: 26rpx;
		border-radius: 38rpx;
		margin: 0;
	}
}
